<div class="page-header">
    <h1>Registru Service Clarfon</h1>
</div>

<div class="jumbotron text-center" ng-show="registru.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>

</div>

<div class="container">

    <div class="navbar-form">
        <div class="input-group">
            <span class="input-group-addon">Cautare dupa nume/prenume:</span>
            <input type="text" size="30" class="form-control" name="search" placeholder="cauta..." ng-model="searchKeyword">
        </div>
        <button type="button" ng-click="registru.search(searchKeyword, number);" class="btn btn-success">Cauta</button>
        <button type="button" ng-click="registru.clear();" class="btn btn-warning">Sterge/Arata Tot</button>
        <a href="/search">
            <button type="button" class="btn btn-danger">Cautare Avansata</button>
        </a>
    </div>
</div>
<div class="container">
    <button type="button" ng-click="registru.showMore(number);" class="btn btn-success">Aplica Filtru</button>
    <button type="button" ng-click="registru.showAll();" class="btn btn-warning">Arata Tot</button>
    <div class="showmore">
        <div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-addon">Numar rezultate de afisat:</span>
                <input type="text" class="form-control" ng-model="number" placeholder="Ex: 7">
            </div>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary">Sorteaza dupa</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a ng-click="registru.sortOrder('created');" href="#">Data</a>
            </li>
            <li>
                <a ng-click="registru.sortOrder('name');" href="#">Nume</a>
            </li>
            <li>
                <a ng-click="registru.sortOrder('postedBy');" href="#">Cabinet</a>
            </li>

        </ul>
    </div>
    <br>
    <br>

    <div ng-show="registru.sort">
        <p>
            <strong>Sorteaza dupa: </strong>{{ registru.sort }}</p>
    </div>

</div>


<div class="row show-hide-message" ng-show="registru.showMoreError">
    <div class="alert alert-danger">{{ registru.showMoreError }}</div>
</div>
<div>
    <p>
        <strong>Total service-uri: </strong>{{ (registru.pacienti).length }}</p>
    <p>
        <div ng-show="searchFilter === undefined">

            <strong>Numar rezultate afisate: </strong>{{( registru.pacienti | filter: searchFilter | limitTo: registru.limit).length
            }}
    </p>
    </div>

</div>
<div ng-show="searchFilter !== undefined">
    <p>
        <strong>Total rezultate cautare: </strong>{{ (registru.pacienti | filter: searchFilter).length }}</p>
</div>

<div ng-show="searchFilter !== undefined">
    <p>
        <strong>Numar rezultate afisate: </strong>{{( registru.pacienti | filter: searchFilter | limitTo: registru.limit).length
        }}
    </p>
</div>
<br>

<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>Registru Service</strong>
    </div>
    <table class="table">
        <tr>
            <th>Cabinet</th>
            <th>Data Adaugare</th>
            <th>Nume</th>
            <th>Prenume</th>
            <th>Email</th>
            <th>Ultima modificare</th>
            <th>Data</th>
        </tr>
        <tr ng-repeat="pacient in registru.pacienti | filter: searchFilter | limitTo: registru.limit | orderBy: registru.sort">
            <td>{{ pacient.postedBy }}</td>
            <td>{{ pacient.created }}</td>
            <td>{{ pacient.name }}</td>
            <td>{{ pacient.cabinet }}</td>
            <td>{{ pacient.email }}</td>
            <td>{{ pacient.updated_at }}</td>
            <td>
                <a href="/editPacient/{{ pacient._id }}">
                    <button type="button" ng-show="registru.editPacientAccess" class="btn btn-primary">Detalii</button>
                </a>
                <button type="button" ng-click="registru.deletePacient(pacient.name);" ng-show="registru.deletePacientAccess" class="btn btn-danger">Sterge</button>

            </td>
        </tr>

    </table>

</div>

<br>
<br>

<!-- Custom Error Message -->
<div class="row show-hide-message" ng-show="registru.showMoreError">
    <div class="alert alert-danger">{{ registru.showMoreError }}</div>
</div>